DATABRICKS_HOST=<DATABRICKS_HOST>
DATABRICKS_TOKEN=<DATABRICKS_TOKEN>

DATABRICKS_RUN_ID_1=86eea36a77f6491cb7cd90bff992a22b
DATABRICKS_MODEL_NAME_1="Donut Base"

DATABRICKS_RUN_ID_2=aad9049fe3234bbb82f7dca7f681eb5c
DATABRICKS_MODEL_NAME_2="Donut P50 KD"

DATABRICKS_RUN_ID_3=d3f6b7f2b61947a79c2593f32e634676
DATABRICKS_MODEL_NAME_3="Donut P70"
API_BASE_URL=http://127.0.0.1:8000/api
